<% layout('base') -%>
<div class="panel">
    <div class="panel-default panel-home">
        <h2>Bem-vindo, <% if(user) { %><span class="name"><%= user.name %></span><% } %>!</h2>
        <span>Sistema de Delivery</span>
    </div>
</div>